<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h2 class="display-4"><%=@client.name%></h2>
</div>

<div class="container">
	<div class="alert alert-info"
	<ul>
		<li>Phone: <%=@client.phone%></li><hr/>
		<li>Register date: <%=@client.datestamp%></li><hr/>
		<li>Barber: <%=@client.barber%></li><hr/>
		<li>Color: <%=@client.color%></li>
	</ul>
	</div>
</div>
